﻿@{
    ViewBag.CurrentPage = "About";
    var TITLE = "Сіткове планування проекту";
    var TITLE_VALUE = "<p><strong>Сіткове планування</strong> – одна з форм графічного відображення змісту робіт і тривалості виконання планів і довгострокових комплексів проектних, планових, організаційних та інших видів діяльності підприємства, яка забезпечує подальшу оптимізацію розробленого графіка на основі економіко-математичних методів та комп'ютерної техніки.</p><p>Сіткове планування полягає, насамперед, у побудові сіткового графіка та обчисленні його параметрів.</p>";
    var GLANCE_FACTS = "Застосування сіткового планування допомагає відповісти на такі питання";
    var FIRST_FACT = "1)";
    var FIRST_FACT_VALUE = "Скільки часу потрібно на виконання усього проекту?";
    var SECOND_FACT = "2)";
    var SECOND_FACT_VALUE = "Протягом якого часу повинні розпочинатися та закінчуватися окремі роботи?";
    var THIRD_FACT = "3)";
    var THIRD_FACT_VALUE = "Які роботи є <strong>'критичними'</strong> і повинні виконуватися точно за графіком, аби не зірвати терміни виконання проекту в цілому?";
    var FOURTH_FACT = "4)";
    var FOURTH_FACT_VALUE = "На який термін можна відкласти виконання <strong>'некритичних'</strong> робіт, щоб це не вплинуло на строки виконання проекту?";

    var GRAPH_TITLE = "Графік прив'язки";
    var GRAPH_TITLE_VALUE = "<p><strong><i>Графік прив'зки</i></strong> відображає <i>взаємозв'язок виконуваних робіт в часі</i>. По <strong><i>вертикальній</i></strong> осі графіка прив'язки відкладаються коди робіт, по <strong><i>горизотальній</i></strong> осі - відрізки, довжини яких рівні тривалостям робіт (ранній початок і раннє закінчення робіт). Графік прив'язки можна побудувати за даними про тривалість робіт, пам'ятаючи, що робота може виконуватися тільки після того, як будуть виконані усі передуючі їй роботи. Оскільки ознакою критичної роботи є нульові значення резервів часу, то це означає, що кожна наступна критична робота почанається строго у момент закінчення попередньої критичної роботи. Внаслідок цього зсув будь-якої з робіт критичного шляху обов'язково приведе до збільшення початкової тривалості проекту. Крім того слід врахувати, що критичний глях є повним, тобто сполучає початкову та завершую події сітки. Тому на графіці прив'язки перша з робіт критичного шляху завжди починається у початковій події сітки у початковий момент часу, а остання з робіт критичного шляху завжди завершується найпізніше за інші роботи сітки завершальною подією.</p><p>З вищенаведених міркувань випливає спосіб визначення критичного шляху на графіці прив'язки(всі знайдені роботи виписуються послідовно справа наліво):</p><strong>1)</strong>знайти на графіку прив'язки і виписати роботу(i,j), яка закінчується найпізніше(це буде остання робота критичного шляху, а її кінцева подія має номер завершальної події сітки);</p><p><strong>2)</strong> з усіх робіт сітки (k,i) кінцева подія яких і збігається з початковою подією і роботи (i,j), знайденої в 1), вибрати та виписати ту, яка на графіку впритул прилягає до роботи (i,j);</p><p><strong>3)</strong> з усіх робіт сітки (l,k) кінцева подія яких до збігається з початковою подією до роботи (k,i) знайденої в 2), вибрати та виписати ту, яка на графіку впритул прилягає до роботи (k,i);</p><p>продовжувати 3) до тих пір, поки не буде знайдена початкова робота сітки.</p><p>Зазначимо, якщо сіткова модель має декілька <strong>критичних шляхів</strong>, то виконуючи вищеописані дії можна виясвити декілька робіт, що задовольняють сформульованим вимогам. У такому разі необхідно продовжувати пошук по кожній з таких робіт вимогам. У такому разі необхідно продовжувати пошук по кожній з таких робіт окремо. У складних стікових моделх подібні розгалуження можуть привести до великих втрат часу на пошук критичного шляхів.</p><p></p><p></p>";

    var EXAMPLE_TITLE = "<p>Приклад</p> ";

    var TABLE_TITLE = "Таблиця параметрів часу робіт";
    var TABLE_PREVIEW = "При обчисленнi параметрiв сiткової моделi табличним методом складається спецiальна таблиця, рядки та стовпцi якої заповнюються в певному порядку, що полегшує виконання обчислень.";
    var TABLE_TITLE_VALUE = "</p><p><p>Розглянемо змiст i порядок виконання етапiв табличного методу розрахунку параметрiв сiтки.</p><p> <strong> У стовпець 1</strong> заносять коди операцiї послiдовно в порядку зрoстання номерiв початкових подiй. Занесення починають з вихiдної подiї 1 i, якщо є кiлька операцiй з однаковими номерами початкових подiй, враховують порядок зростання номерiв кiнцевих подiй.</p> <p><strong>У стовпцi 2</strong> виписують тривалостi робiт.</p><p><strong> У стовпець 3</strong> заносять раннi термiни початку операцiї, починаючи з тих операцiй, для яких початковим подiєю служить вихiдна подiя. У вiдповiднi рядки заносяться нулi.</p><p> <strong>У стовпець 4</strong> в цих же рядках записують тривалостi вiдповiдних операцiй, <i>оскiльки для них раннiй термiн закiнчення операцiї збiгається з їх тривалiстю.</i></p><p> Для подальших операцiй стовпцi серед операцiй, розташованих в таблицi вище, вибирають усi тi, для яких кiнцева подiя є початковою для розглядуваної операцiї. <strong>Максимальнe</strong> значення раннього термiну закiнчення операцiй<i>(стовпець 4)</i> з усiх так вибраних заносять у <i>стовпець 3</i>, як <strong>раннiй термiн початку</strong> розглядуваної операцiї. <i>Стовпчик 4 є сумою стовпцiв 2 та 3 для кожного рядка</i>.</p> Обчислення <strong>пiзнiх термiнiв початку i закiнчення операцiй</strong> виконуються <i>послiдовно в порядку спадання</i> номерiв початкових подiй операцiй. Починають розрахунок з операцiй, кiнцевi подiї яких <i>збiгаються з завершальною подiєю</i>. Якщо така операцiя належить до <strong>критичного шляху</strong>, то для неї <strong><i>tр.з(i; j) = tп.з(i; j) = tкр</i></strong>. Переглядаючи рядки <i>стовпця 4</i>, вiдповiднi цим операцiям, вибирають найбiльше значення i заносять його в усi тi рядки <i>стовпця 5</i>, якi вiдповiдають операцiям, якi мають завершальну подiю в якостi кiнцевої. Крiм того, це ж значення визначає <strong>тривалiсть критичного шляху</strong>.<strong>Пiзнiй термiн початку</strong> цих операцiй обчислюється за формулою <strong><i>tп.п(i; j) = tп.з(i; j)</i></strong> шляхом <strong>вiднiмання</strong> вмiсимого рядка <i>стовпця 2</i> вiд вмiстомого цьoго ж рядка <i>стовпця 5</i>. Результат заносять до вiдповiдного рядка <i>стовпця 6</i>. Далi вибирають перший знизу незаповнений рядок <i>стовпця 5</i>. Переглядають початковi подiї всiх операцiй, розташованих нижче вибраної. Для всiх операцiй, у яких номери початкових подiй збiгаються з номером кiнцевої подiї розглядуваної операцiї, мiнiмальне значення з <i>стовпця 6</i> заносять в обраний рядок <i>стовпця 6</i>. Вiднiмаючи з елемента <i>стовпця 5</i> вiдповiдний елемент <i>стовпця 2</i>, отримуємо елемент цього ж рядка <i>стовпця 6</i>(<strong>пiзнiй термiн початку обраної операцiї</strong>). Процес заповнення <i>стовпцiв 3 та 4 i 5 та 6</i> вiдбувається практично <strong>паралельно</strong>. Для заповнення <i>стовпця 7</i> вiд елементiв <i>6-го стовпця</i> потрiбно <strong>вiдняти</strong вiдповiднi елементи <i>3-го стовпця</i> або вiд елементiв <i>5-го стовпця</i> <strong>вiдняти</strong> вiдповiднi елементи <i>4-го стовпця</i>. Для заповнення <i>стовпця 8</i> вмiстиме <i>4-го стовпця</i> вiднiмаємо вiд значення <i>стовпця 3</i> для робiт, початкава подiя яких є кiнцевою для розглядуваної роботи(воно однакове для усiх робiт з однаковою початковою подiєю). Якщо iснує єдина робота з деякою кiнцевою подiєю, то вищезгадана рiзниця дорiвноє нулю. Обчислення при цьому фактично здiйснюються за формулою <strong>Rвiльн.(i; j) = tp(j)</strong><strong><i>tр.з.(i; j) = tр.п.(j; k)</i></strong></p>";
}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 col-sm-12 align-items-center">
            <h2 class="text-center">@TITLE</h2>
            <p>@Html.Raw(TITLE_VALUE)</p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card">
                <h3 class="card-header bg-dark text-white">@GLANCE_FACTS</h3>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-2 text-center">@FIRST_FACT</dt>
                        <dd class="col-10">@Html.Raw(FIRST_FACT_VALUE)</dd>
                        <dt class="col-2 text-center">@SECOND_FACT</dt>
                        <dd class="col-10">@Html.Raw(SECOND_FACT_VALUE)</dd>
                        <dt class="col-2 text-center">@THIRD_FACT</dt>
                        <dd class="col-10">@Html.Raw(THIRD_FACT_VALUE)</dd>
                        <dt class="col-2 text-center">@FOURTH_FACT</dt>
                        <dd class="col-10">@Html.Raw(FOURTH_FACT_VALUE)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div id="accordion" class="m-4">
            <div class="card border-primary">
                <div class="card-header">
                    <div class="card-link" data-toggle="collapse" href="#graphId">
                        <h2 class="text-center">@Html.Raw(GRAPH_TITLE)</h2>
                    </div>
                </div>
                <div id="graphId" class="collapse" data-parent="#accordion">
                    <div class="card-body d-none d-sm-block">
                        <p>@Html.Raw(GRAPH_TITLE_VALUE)</p>
                        <h2 class="text-center">@Html.Raw(EXAMPLE_TITLE)</h2>

                        <div class="col-12 align-items-center text-center">
                            <img src="../../Content/Images/TestGraphValues.png" alt="TestGraphValues.png" />
                        </div>
                        <div class="col-12 align-items-center text-center">
                            <img src="../../Content/Images/TestGraphResult.png" alt="TestGraphResult.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-primary">
                <div class="card-header">
                    <div class="card-link" data-toggle="collapse" href="#tableId">
                        <div class="col-lg-12 col-sm-12 align-items-center">
                            <h2 class="text-center">@Html.Raw(TABLE_TITLE)</h2>
                        </div>
                    </div>
                </div>
                <div id="tableId" class="collapse" data-parent="#accordion">
                    <div class="card-body d-none d-sm-block">
                        <p>@Html.Raw(TABLE_PREVIEW)</p>
                        <div class="col-lg-12 col-sm-12 align-items-center text-center">
                            <img src="../../Content/Images/TestTableView.png" alt="TestTableView.png" />
                        </div>
                        <div class="col-lg-12 col-sm-12 align-items-center">
                            <p>@Html.Raw(TABLE_TITLE_VALUE)</p>
                        </div>
                        <div class="col-lg-12 col-sm-12 align-items-center">
                            <h2 class="text-center">@Html.Raw(EXAMPLE_TITLE)</h2>
                        </div>
                        <div class="col-12 align-items-center text-center">
                            <img src="../../Content/Images/TestTableValues.png" alt="TestTableValues.png" />
                        </div>
                        <div class="col-12 align-items-center text-center">
                            <h2 class="text-center"></h2>
                            <img src="../../Content/Images/TestTableResult.png" alt="TestTableResult.png" />
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
